.autocomplete {
  position: relative;
  max-width: 200px;
  box-sizing: border-box;
}

.autocomplete > * {
  box-sizing: inherit;
}

.autocomplete__input {
  width: 100%;
}

.autocomplete__list {
  position: absolute;
  background: #fff;
  list-style: none;
  width: 100%;
  margin-top: 0;
  border: 1px solid #eee;
  border-top: 1px solid transparent;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
}

.autocomplete__list--hidden {
  display: none;
}

.autocomplete__item {
  padding-left: 10px;
  line-height: 1.5;
}

.autocomplete__list:hover .autocomplete__item--active {
  background: #eee;
}

.autocomplete__item:hover,
.autocomplete__item--active,
.autocomplete__item--active.autocomplete__item:hover {
  background: #97b8e7;
}
